/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {}
  
  h2 {}
  
  h3 {}

  a{
    color: blue;
    text-decoration: none;
}
a:hover {
        color: orange
}
img:hover{opacity:.7; 
-moz-box-shadow:     2px -1px 12px 0px #ccc;
-webkit-box-shadow:  2px -1px 12px 0px #ccc;
box-shadow:          2px -1px 12px 0px #ccc;
}
  
  /* ---- layout ---- */
  
  .main-header {
  
  }
  
  .main-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  .container {
    margin: 0 20px;
    max-width: 960px;
  }
  
  section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .page-header{
    background: lightseagreen;
    color: white;
}

    .inline-list li{
        display: inline-block;
        }
   
    
  /* ---- components ---- */
  .page-header a{
    color:white;
    }
    .page-header a:hover{
        color:blue;
    }
    section:nth-of-type(even){
        background: lightgray
    }
  /* ---- header ---- */
  .page-header h1{
      font-size:1em;
  }
  /* ---- section ---- */
  
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .portfolio-list li{
        width: 50%;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .page-header{
        background: lightpink;
        color: white;
  }
  .portfolio-list li{
    width: 33%;
}
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
  .container{
      margin: 0 auto;
  }
  .page-header h1{
    font-size: 2em;
    }
    .portfolio-list li{
        width: 23%;
    }
}

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  
  }


